div.outer {
    height: 100px;
    width: 500px;

    margin-top: 5px;
    margin-bottom: 5px;
}
img {
    height: 100px;
    width: 100px;

    float: left;
    margin-right: 10px;
}
div.inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}
p {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
