header {
    background-color: white;
    text-align: center;
    padding: 1px;
    border-radius: 15px;
}
h1 {
    font-size: 32px;
    color: #191414;
    margin-top: 17.5px;
    margin-bottom: 17.5px;
}
img.logo {
    height: 35px;
    vertical-align: sub;

    margin-left: 17.5px;
    margin-right: 17.5px;
}
