header {
    padding: 1px;
}
h1 {
    font-size: 32px;
}
h3 {
    margin-top: 11px;
    margin-bottom: 11px;
}
img.logo {
    height: 22px;
    vertical-align: sub;

    margin-left: 11px;
    margin-right: 11px;
}
