<div class="main-box">
    <form [formGroup]="form">
        <div class="menu">
            <label for="playlistSelect">Select a playlist:</label>
            <select name="playlistSelect" formControlName="playlist" required>
                <option *ngFor="let playlist of playlists; index as index" [value]="index">
                    {{ playlistDisplay(playlist)}}
                </option>
            </select>
            <span class="mobile-separator">&nbsp;</span>
            <label for="deviceSelect">Select a device:</label>
            <select name="deviceSelect" formControlName="device" required>
                <option *ngFor="let device of devices; index as index" [value]="index">
                    {{ deviceDisplay(device) }}
                </option>
            </select>
            <span class="mobile-separator">&nbsp;</span>
            <label for="algorithmSelect">Select a shuffle algorithm:</label>
            <select name="algorithmSelect" formControlName="algorithm" required>
                <option value="true-shuffle">True Shuffle</option>
                <option value="perfect-mix">Perfect Collaborator Mix</option>
                <option value="prob-mix">Probabilistic Collaborator Mix</option>
            </select>
        </div>
        <button type="submit" [disabled]="!form.valid" (click)="onSubmit()">Shuffle</button>
    </form>
</div>
