<div class="main-box">
    <form>
        <div class="menu">
            <label for="playlistSelect">Select a playlist:</label>
            <select name="playlistSelect">
                <option>Playlist 1</option>
                <option>Playlist 2</option>
            </select>
            <label for="deviceSelect">Select a device:</label>
            <select name="deviceSelect">
                <option>Device 1</option>
                <option>Device 2</option>
            </select>
            <label for="algorithmSelect">Select a shuffle algorithm:</label>
            <select name="algorithmSelect">
                <option>True Shuffle</option>
                <option>Perfect Collaborator Mix</option>
            </select>
        </div>
    </form>
</div>
