<div class="main-box">
    <form>
        <div class="menu">
            <div class="left">
                <label>Select a playlist:</label>
                <br />
                <label>Select a device:</label>
                <br />
                <label>Select a shuffle algorithm:</label>
            </div>
            <div class="right">
                <select name="playlistSelect">
                    <option>Playlist 1</option>
                    <option>Playlist 2</option>
                </select>
                <br />
                <select>
                    <option>Device 1</option>
                    <option>Device 2</option>
                </select>
                <br />
                <select>
                    <option>True Shuffle</option>
                    <option>Perfect Collaborator Mix</option>
                </select>
            </div>
        </div>
    </form>
</div>
