div.song-list {
    display: grid;
    grid-template-columns: 100px auto;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
}
img {
    width: 100px;
    height: 100px;
}
div.song-info {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}
p {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;

    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
